/* CSS Variables */
:root {
  --normal-font: 300;
  --bold-font: 500;
  --bolder-font: 700;
  --primary-color: #ffffff;
  --secondary-color: red;
  --tertiary-color: #0E1D61;
  --line-height: 1.7rem;
  --transition: 0.1s ease-in;
}

/* Smooth scroll effect */
html {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  
  scroll-behavior: smooth;
  font-kerning: none;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}
  
body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    background-color: var(--tertiary-color);
}

#logoClear {
    background:
        url(../img/assets/SVG/logoClear.svg) 0% 80vh no-repeat, url(../img/assets/SVG/logoClear.svg) 115% 20vh no-repeat,
        url(../img/assets/SVG/logoClear.svg) 0% 200vh no-repeat, url(../img/assets/SVG/logoClear.svg) 115% 140vh no-repeat;
    background-size: 40%;
    min-height: 100%;
}

p {
  color: var(--primary-color);
  font-weight: 100;
}

span {
  color: var(--primary-color);
}

h1 {
    font-family: 'Lato', sans-serif;
  font-size: 2rem; font-style: normal;
  font-variant: normal; font-weight: 600;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem; font-style: normal;
    font-variant: normal; font-weight: 700;
    color: #ffffff;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1rem; font-style: normal;
    font-variant: normal;
    font-weight: 700;
    color: #ffffff;
}


a {
  text-decoration: none;
  color: #ffffff;
}

/* Nav Bar */

#selected {
  border-bottom: 0.2rem solid red;
  text-decoration: none;
}

.nav-link {
    height: 3rem;
}

.nav-item {
    margin: 1rem;
    font-size: 1.5rem;
    list-style-type: none;
}

.nav-item a:hover {
  border-bottom: 0.2rem solid red;
  text-decoration: none;
} 

#navLogo {
    display: inline-block;
}

nav {
    background: none;
    justify-content: left;
    align-items: left;
    /*box-shadow: 0px 6px 9px #2424242a;  */
    background-color: var(--tertiary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%;
}

/* Landing Page */
.title {
    color: var(--primary-color);
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width:60%;
}
  
.title ul {
    list-style-type: none;
}

#landingPic {
    background-image: url('../img/assets/ambulanceredesign.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 75vh;
    max-width:100%;
    max-height:300%;
    vertical-align: middle;

}

#landingLogo {
    margin: 2rem;
}

#landingNav {
    background-color:rgba(255, 255, 255, 0);
}

.landingTitle {
    font-family: "Lato";
    font-size: 3rem; font-style: normal;
    font-variant: normal; font-weight: 700;
    color: #ffffff;
}

.landingSubText {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem; font-style: normal;
    font-variant: normal; font-weight: lighter;
    color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: square;
    color: #ffffff;
}

ul {
    list-style-type: square;
}

li {
    color: #ffffff;
}

li#landingList {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 2rem; font-style: lighter;
    font-variant: normal; font-weight: 100;
    color: #ffffff;
}

.hero {
    /*margin: 0 2rem;*/
    margin-bottom: 3rem;
    width: 60%;
    margin: auto;
}
  
.intro-text .section {
    align-items: center;
}

.content {
    align-items: center;
    justify-content: space-between;
    gap: 1.9rem;
    margin: 3rem auto;
    height: 100%;
    width: 70%;
}

.content * {
    margin: auto;
}

/* Call to action button */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    border: none;
    font-size: 1.2rem;
    color: #fff;
}

.solid {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    margin-right: 1.5rem;
    color: var(--primary-color);
}

.clear {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--secondary-color);
  margin-right: 1.5rem;
  color: var(--secondary-color);
}

.clear:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.blue {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    background-color: var(--tertiary-color);
    color: #fff;
}

.btn:hover {
    border: 2px solid var(--primary-color);
}

.link {
    text-decoration: underline;
}

#transparentBlue {
    background-color: #0e1d6187;
    height: 75vh;
    width: 100%;
    padding-bottom: 3rem;
}

/* Contact */

#iglogo {
  width: 1rem;
}

#mail {
  width: 1rem;
}

.hamburger-nav {
    display: none;
    background-color: var(--tertiary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%;

    padding: 1rem;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--tertiary-color);
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 94vh;
    width: 100%;
    background-color: var(--tertiary-color);
}

.mobileList {
    display: flex;
    flex-direction: row;
}

#landingLogo {
    display: none;
}

/* Mobile Overrides */

@media only screen and (max-width: 1100px) {
    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 2rem; font-style: normal;
        font-variant: normal; font-weight: 700;
        color: #ffffff;
    }
    .landingTitle {
        font-family: "Lato";
        font-size: 2rem; font-style: normal;
    }

    .title {
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 900px) {

    nav {
        display: none;
    }

    #navLogo {
        display: block;
    }

    .hamburger-nav {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: square;
        color: #ffffff;
    }

    .hamburger-nav img {
        margin: 0 5px;
    }

    .hamburger-nav h3 {
        margin: 0 5px;
    }

    .burger {
        margin-left: auto;
    }

    .landingTitle {
        font-size: 2rem;
    }
    
    .landingSubText {
        font-size: 1rem;
    }
    
    #landingList {
        display:list-item;
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    .content {
        margin: auto;
        height: 100%;
        width: 90%;
    }

    .mobileList {
        flex-direction: column;
    }

    .mobileList * {
        width: 100%;
    }

    .mobileList .btn {
        display: inline;
    }

    .wideButton {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 700px) {
    .wideButton {
        width: 100%;
        text-align: center;
    }
}